extends ../../layouts/default.pug

block main
  .container.mt-4
    form.needs-validation(name="frmthanhtoan" method="post" action="#")
      input(type="hidden" name="kh_tendangnhap" value="dnpcuong")

      .py-5.text-center
        i.fa.fa-credit-card.fa-4x(aria-hidden="true")
        h2 Thanh toán
        p.lead Vui lòng kiểm tra thông tin Khách hàng, thông tin Giỏ hàng trước khi Đặt hàng.

      .row
        .col-md-4.order-md-2.mb-4
          h4.d-flex.justify-content-between.align-items-center.mb-3
            span.text-muted Giỏ hàng
            span.badge.badge-secondary.badge-pill 2
          each product, index in cartDetail.products
           ul.list-group.mb-3
            li.list-group-item.d-flex.justify-content-between.lh-condensed
              div
                h6.my-0 #{product.productInfor.title}
                small.text-muted #{product.productInfor.price}$ x #{product.quantity}
              span.text-muted #{product.productInfor.price * product.quantity}$
          li.list-group-item.d-flex.justify-content-between
           span Tổng thành tiền
           strong #{cartDetail.total}$


        .col-md-8.order-md-1
          h4.mb-3 Thông tin khách hàng

          .row
           .card.p-4.my-4
            .col-md-12
             div(class="form-group")
              label(for="kh_ten" class="form-group") Họ tên
              input.form-control(type="text" name="name" id="name" value="" required )
          
            .col-md-12
              label(for="kh_diachi") Địa chỉ
              input.form-control(type="text" name="address" id="address"  required class="form-group")
            .col-md-12
              label(for="kh_dienthoai") Điện thoại
              input.form-control(type="text" name="phone" id="phone" value="" required )
            .col-md-12
              label(for="kh_email") Email
              input.form-control(type="text" name="email" id="email" value="" required )
          h4.mb-3 Hình thức thanh toán

          .d-block.my-3
            .custom-control.custom-radio
              input#httt-1.custom-control-input(type="radio" name="httt_ma" required value="1")
              label.custom-control-label(for="httt-1") Tiền mặt
            .custom-control.custom-radio
              input#httt-2.custom-control-input(type="radio" name="httt_ma" required value="2")
              label.custom-control-label(for="httt-2") Chuyển khoản
            .custom-control.custom-radio
              input#httt-3.custom-control-input(type="radio" name="httt_ma" required value="3")
              label.custom-control-label(for="httt-3") Ship COD

          hr.mb-4
          button.btn.btn-primary.btn-lg.btn-block(type="submit" name="btnDatHang") Đặt hàng