extends ../../layouts/default.pug
include ../../mixins/box-head.pug
block main 
  link(rel="stylesheet" href="/css/home.css")
  
  .container 
    .top-home
        .main-content.section
          img.mySlides(src="https://cdn2.cellphones.com.vn/insecure/rs:fill:690:300/q:90/plain/https://dashboard.cellphones.com.vn/storage/watch-gt-5-series-03-10-home-new-new.jpg" )
          img.mySlides(src="https://cdn2.cellphones.com.vn/insecure/rs:fill:690:300/q:90/plain/https://dashboard.cellphones.com.vn/storage/tecno-spark-go-1-home.jpg" )
          img.mySlides(src="https://cdn2.cellphones.com.vn/insecure/rs:fill:690:300/q:90/plain/https://dashboard.cellphones.com.vn/storage/tai-nghe-sony-wf-c510-home.jpg" )
    .row 
      .col-12
        +box-head("Sản Phẩm Nổi Bật")
    .row.product-outstanding
      each item,index in products
        .col-2.mb-4(data-aos="fade-up" data-aos-duration="3000")
          .product-item 
            .inner-image
              img(src=item.thumbnail)
            .inner-content 
              a(href=`products/detail/${item.slug}`) 
                .inner-title #{item.title} 
              .inner-price-new #{Math.round(item.price - (item.price * item.discountPercentage / 100))}$
              .inner-price-old #{item.price}$
              .inner-discount #{item.discountPercentage}%
    .row
        if products.length > 3
            .col-12.text-center.mb-3
                a(href="/products") 
                    button.btn.btn-success.btn-lg.btn-block Xem Thêm
        
    .row.news-discount
        .row.mb-3
            +box-head("Tin Khuyến Mãi")
        .row.news-list
         each item in discounts
            .col-3.mb-4(data-aos="fade-up" data-aos-duration="1000")
                    .news-item 
                        .inner-image
                        img(src=item.thumbnail)

    .row.blog-news.mt-4
        .row.mb-3
            +box-head("Tin Tức Công Nghệ")
        .row.blog-list
          each item in blogs
            .col-3.mb-4(data-aos="fade-up" data-aos-duration="1000")
                    .blog-item 
                      .inner-image-blog
                        a(href=item.link)                 
                         img(src=item.thumbnail)
                      .inner-title-blog #{item.description}
    script(src="/js/home.js") 